body {
 background-image: url("background.jpg");
 background-repeat: no-repeat;
 background-size: cover;
 background-color: #cccccc;
}

h1{
  font-family: 'Libre Baskerville', serif;
  text-align: center;
  padding-top: 25px;
}

h5{
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  color: #00001a;
  padding-bottom: 10px;
  color: #ccffe6;
  background-color: #000033;
}

p{
  font-family: 'Open Sans', sans-serif;
  color: #00001a;
}

.palm{
  height: 100px;
  width: 100px;
}

.carousel-inner img{
  margin: auto;
  padding-bottom: 25px;
}

.position-relative{
  opacity: .8;
}

.card{
  margin: 0 auto;
  max-width: 300px;
  width: 100%;
  height: auto;
  object-fit: cover;
}


.card-title-about{
  text-align: left;
}

.card-title-specials{
  text-align: center;
}

.card-title-things{
  text-align: right;
}

.text-start{
  text-align: left;
}

.text-center{
  text-align: center;
}

.text-end{
  text-align: left;
}

.details{

  background-color: #bddbcc;
  width: 75%;
  align-items: center;
}

.reservation{
  background-color: #e6e6ff;
  width: 75%;
  padding: 10px 10px 10px 10px;

}
